.button::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  background-color: inherit;
  top: 0;
  left: -11%;
  transform: skew(-15deg);
  z-index: -1
}

.skew {
  transform: skew(-15deg);
}

.skew:hover {
  transform: skew(0)
}

.left {
  left: -5%;
}

.width {
  width: 111%;
}

.button_z_index {
  z-index: 1;
}

.skew_z_index {
  z-index: -1;
}