.skew {
  transform: skew(-5deg);
  
  @media (min-width: 768px) {
    transform: skew(-15deg);
  }
}

.left {
  left: -9vw;
}

.width {
  width: 100vw;

  @media (min-width: 768px) {
    width: 85vw;
  }
}

.bg-gradient-grey-white {
  background: rgb(229,229,229);
  background: linear-gradient(0deg, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
}

.center-slides {
  top: 50%;
  transform: translateY(-50%);
}