#drawer {
  right: 0;
  transform: translateX(100%);
  display: block;
  position: absolute;
  top: 0;
  width: 75vw;
  height: 100vh;
  color: #fff;
  background-color: #005aab;
}

@media (min-width: 992px) {
  #drawer {
    right: initial;
    transform: translateX(0);
    display: block;
    position: relative;
    height: auto;
    width: 100vw;
  }
}
